<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <h2>Здравствуйте, {{ username }}!</h2>
    <p>Спасибо за регистрацию в нашем магазине.</p>
    <p>Для подтверждения email перейдите по ссылке:</p>
    <p><a href="{{ site_url }}/api/v1/verify/{{ user_id }}/">Подтвердить email</a></p>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
    <hr>
    <p>С уважением,<br>Команда Shop</p>
</body>
</html>